.slider_logo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 26px;
  background: url(/public/images/slider_cover.png) center center;
  background-size: cover;
}
.slider_image {
  display: block;
  width: 100%;
}

.slider_layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
}
.slider_title {
  color: white;
  font-size: 100px;
  line-height: 0.94118;
  font-weight: 400;
  font-family: "Protest Revolution", sans-serif;
}
.slider_text {
  font-size: 20px;
  line-height: 1.875;
  color: hsl(107, 4%, 46%);
  font-weight: 500;
  padding-block: 30px;
}
.slider_button {
  font-size: 14px;
  line-height: 1.34;
  font-weight: 500;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  cursor: pointer;
  color: hsl(36, 10%, 90%);
  background-color: hsl(105, 27%, 26%);
  border: 3px solid hsl(105, 28%, 42%);
  padding: 20px 40px;
  transition: all 0.5s;
}
.slider_button:hover {
  color: hsl(36, 10%, 90%);
  background-color: hsl(39, 59%, 45%);
  border: none;
}
